                  body {
                        background-color: linen;
                        }

                  h2 {
                        color: black;
                        margin-left: 100px;
                  }
                  p {
                        color:black; 
                        margin-left: 100px; 
                        margin-right: 400px;
                  }
                  img {
                        float: right;
                        margin-right: 100px;
                        margin-left: 20px;
                  }
